{% include 'imports.html' %}
{% include 'navbar.html' %}
<style>
    body,
    html,
    * {
        font-family: "Merriweather", serif;
        font-weight: 300;
        font-style: normal;
    }

    #hero h1 {
        font-family: Merriweather, serif;
        font-weight: 600;
    }

    .card-image {
        height: 400px;
        /* Adjust height as needed */
        overflow: hidden;
        box-shadow: none;
    }

    .card-image img {
        width: 100%;
        height: auto;
        box-shadow: none;
        padding: 10px 20px;
    }

    .uk-card {
        box-shadow: none;
    }
</style>

<div
    style="height: 100vh;background: url(https://magazine.chrono24.com/cdn-cgi/image/f=auto,metadata=none,fit=cover,q=65,w=720,h=360,dpr=2.0/2024/09/Czapek-2-1.jpg);background-size: cover;">
    <div class="uk-position-center" id="hero" style="margin-top: 80px;">
        <h1 class="uk-text-center" style="color: #000">Find your dream watch on the</h1>
        <h1 class="uk-text-center" style="color: #000">leading marketplace for</h1>
        <h1 class="uk-text-center" style="color: #000">luxury watches.</h1>
    </div>
</div>

<div style="margin-left: 50px;margin-top: 50px;">
    <h1 style="font-family: Merriweather, serif;font-weight: 600;">Explore WatchHub</h1>
</div>


<div class="uk-container uk-margin-top">
    <div class="uk-grid uk-child-width-1-4@m uk-child-width-1-2@s uk-child-width-1-1" uk-grid>
        <div>
            <div class="uk-card uk-card-default">
                <div class="card-image" style="margin-bottom: 0;">
                    <img src="../static/ovado 671.56.webp" alt="Card Image">
                </div>
                <div class="uk-card-body">
                    <h3 class="uk-card-title">Ovado</h3>
                    <p>$671.56</p>
                    <button style="text-transform:capitalize;color:#000; border: 2px solid #000; background-color: transparent
                    ;" class="uk-button add-to-cart uk-button-secondary">Add to cart</button>

                </div>
            </div>
        </div>
        <div>
            <div class="uk-card uk-card-default">
                <div class="card-image">
                    <img src="../static/fendi 359,56.webp" alt="Card Image">
                </div>
                <div class="uk-card-body">
                    <h3 class="uk-card-title">Fendi</h3>
                    <p>$359.56</p>

                    <button style="text-transform:capitalize;color:#000; border: 2px solid #000; background-color: transparent
                    ;" class="uk-button add-to-cart uk-button-secondary">Add to cart</button>

                </div>
            </div>
        </div>
        <div>
            <div class="uk-card uk-card-default">
                <div class="card-image">
                    <img src="../static/ferramago 487.45.webp" alt="Card Image">
                </div>
                <div class="uk-card-body">
                    <h3 class="uk-card-title">Ferramango</h3>
                    <p>$487.45</p>
                    <button style="text-transform:capitalize; color:#000; border: 2px solid #000;background-color: transparent
                    ;" class="uk-button add-to-cart uk-button-secondary">Add to cart</button>

                </div>
            </div>
        </div>
        <div>
            <div class="uk-card uk-card-default">
                <div class="card-image">
                    <img src="../static/tissot 674.97.webp" alt="Card Image">
                </div>
                <div class="uk-card-body">
                    <h3 class="uk-card-title">Tissot</h3>
                    <p>$674.97</p>
                    <button style="text-transform:capitalize; color:#000; border: 2px solid #000;background-color: transparent
                    ;" class="uk-button add-to-cart uk-button-secondary">Add to cart</button>

                </div>
            </div>
        </div>
    </div>
</div>

<div class="uk-container uk-margin-top">
    <div class="uk-grid uk-child-width-1-4@m uk-child-width-1-2@s uk-child-width-1-1" uk-grid>
        <div>
            <div class="uk-card uk-card-default">
                <div class="card-image">
                    <img src="../static/porsamo bleu 234.65.webp" alt="Card Image">
                </div>
                <div class="uk-card-body">
                    <h3 class="uk-card-title">Porsamo bleu</h3>
                    <p>$234.65</p>
                    <button style="text-transform:capitalize; color:#000; border: 2px solid #000;background-color: transparent
                    ;" class="uk-button add-to-cart uk-button-secondary">Add to cart</button>
                </div>
            </div>
        </div>
        <div>
            <div class="uk-card uk-card-default">
                <div class="card-image">
                    <img src="../static/Breitling.webp" alt="Card Image">
                </div>
                <div class="uk-card-body">
                    <h3 class="uk-card-title">Breitling</h3>
                    <p>$499.08</p>
                    <button style="text-transform:capitalize; color:#000; border: 2px solid #000;background-color: transparent;" class="uk-button add-to-cart uk-button-secondary">Add to cart</button>
                </div>
            </div>
        </div>
        <div>
            <div class="uk-card uk-card-default">
                <div class="card-image">
                    <img src="../static/michele 2012.45.webp" alt="Card Image">
                </div>
                <div class="uk-card-body">
                    <h3 class="uk-card-title">Michele</h3>
                    <p>$2012.45</p>
                    <button style="text-transform:capitalize; color:#000; border: 2px solid #000;background-color: transparent
                    ;" class="uk-button add-to-cart uk-button-secondary">Add to cart</button>
                </div>
            </div>
        </div>
        <div>
            <div class="uk-card uk-card-default">
                <div class="card-image">
                    <img src="../static/rolex 1234.98.webp" alt="Card Image">
                </div>
                <div class="uk-card-body">
                    <h3 class="uk-card-title">Rolex</h3>
                    <p>$1243.97</p>
                    <button style="text-transform:capitalize; color:#000; border: 2px solid #000;background-color: transparent
                    ;" class="uk-button add-to-cart uk-button-secondary">Add to cart</button>

                </div>
            </div>
        </div>
    </div>
</div>

<hr class="uk-divider-icon">
<div class="uk-text-center">

    <p style="font-weight: 600;">&copy; &nbsp; 2024 WatchHub </p>

</div>

<div class="uk-text-left uk-margin-large-left">
    <p style="font-weight: 600;">Tinotenda Chandengenda</p>
    <p style="font-weight: 600;">H230279Z</p>
    <p style="font-weight: 600;">Harare Institute Of Technology</p>
</div>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        const buttons = document.querySelectorAll('.add-to-cart');
        buttons.forEach(button => {
            button.addEventListener('click', function () {
                let cartCount = document.getElementById('cartCount');
                cartCount.textContent = parseInt(cartCount.textContent) + 1;
                localStorage.setItem('cartCount', cartCount.textContent);
                let cartItems = JSON.parse(localStorage.getItem('cartItems')) || [];
                const item = {
                    name: this.parentElement.querySelector('h3').innerText,
                    price: this.parentElement.querySelector('p').innerText,
                    img: this.parentElement.parentElement.querySelector('img').src
                };
                cartItems.push(item);
                localStorage.setItem('cartItems', JSON.stringify(cartItems));
            });
        });

        let storedCartCount = localStorage.getItem('cartCount');
        if (storedCartCount) {
            document.getElementById('cartCount').textContent = storedCartCount;
        }
    });
</script>
<!-- <script>
    function pushNotify() {
        new Notify({
            status: 'success',
            text: 'Item added to cart',
            effect: 'fade',
            speed: 300,
            customClass: null,
            customIcon: null,
            showIcon: true,
            showCloseButton: true,
            autoclose: true,
            autotimeout: 3000,
            gap: 20,
            distance: 20,
            type: 'outline',
            position: 'x-center'
        })
    }
</script> -->